/* Стиль для сообщений об ошибках */
.popup__error {
  color: red; /* Цвет текста ошибки */
  font-size: 12px; /* Размер шрифта */
  margin-top: 5px; /* Расстояние между полем и текстом ошибки */
  font-family: 'Arial', sans-serif; /* Шрифт */
}

.popup__error_visible {
  display: block;
}